.head {
    position: relative;
    text-align: center;
}

.head img {
    width: 100%;
    height: auto;
}

.head h2 {
    position: absolute;
    top: 120px; /* 이미지의 상단에서 20px 아래로 위치 */
    width: 100%;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.product h2{
    margin-top: 70px;
    margin-left: 60px;
    color: black; 
    font-size: 2rem;
    font-weight: bold;
}